.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 710px) {
  .tabsContent table tbody tr td {
      padding: 15px 10px 0;
      border: 1px solid #ddd;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
}
.tabsContent table tbody tr td {
  padding: 0 3px;
  border: 1px solid #ddd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
*, :after, :before {
  box-sizing: border-box;
}
*, :after, :before {
  box-sizing: border-box;
}
  
 
td {
display: table-cell;
vertical-align: inherit;
unicode-bidi: isolate;
}
table {
  
border-collapse: collapse;
}
 
table {
border-collapse: separate;
text-indent: initial;
border-spacing: 2px;
}
.text-justify {
text-align: justify !important;
}
.tabsContent {
font-size: 13px;
padding: 20px;
}
.footer{
  background-color: #fff;
}

.web-logo{
  width: 50%;
   
}

.review{
  color: #000;
}

.testimonial-slider{
  background-color: #ffc107;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-fluid


.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #fcf409 !important;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff700fc;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #0c0b0b;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid #0f0e0e;
  background: white;
  padding: 0.6rem 1.2rem;
  color: #120f0f;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #0c0b0b;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn-logine {
  padding: 0.6rem 1.3rem;
  color: #fff;
  background-color: #080905;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.btn-send {
  padding: 0.6rem 1.3rem;
  background-color: transparent;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}



.btn-login:hover {

  border: 1px solid;
}

.logo-img{
  width:5erm ;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {

  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
 
}

.information i {
  color: #0053ff;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}
.cards{
    
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
 
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1b1c1c, #080905);
  bottom: 50%;

  transform: translate(-60%, 49%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 1.5rem !important;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out
}



@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
   
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.molk {
  padding-top: 65%;
}




.btn-loginn{
  background-color: #0e1c36;
  color: #fff;

}

.btn-loginn:hover {

  background-color: #0e1c36;

}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color {
  background-color: #ebf2fa;
}

a {
  text-decoration: none;
}

.admin {
  justify-content: center;
}

.center {
  display: flex;
  text-align: center;
}

.information {

  font-family: var(--heading-font);
  justify-content: center;
}

.car-name{
   text-align: center;
   
}
 
.card-effects .card-effect {
  border: none;
  background: #dee2e6;
}
.card-effects .card-effect .card-body {
  box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
   
  
}
.card-effects .card-effect .card-img {
  position: relative;
  overflow: hidden;
}
.card-effects .card-effect:hover .card-img {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important
}
.card-effects .card-effect .card-img img {
  width: 100%;
  transition: .6s
}
.card-effects .card-effect:hover .card-img img {
  transform: scale(1.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-effects .img-hover {
    position: relative;
    overflow: hidden
}
.card-effects .img-hover img {
  transition: all 2s ease;
  transform: scale(1)
}
.card-effects .img-hover:after {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: 3
}
.card-effects .img-hover:before {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  top: -10%;
  right: 51%;
  bottom: -10%;
  left: 50%;
  background: rgba(255,255,255,0.3)
}
.card-effects .img-hover:after {
  top: 50%;
  right: -10%;
  bottom: 50%;
  left: -10%;
  background: rgba(255,255,255,0.6)
}
.card-effects .card-effect:hover .img-hover:before {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 900ms linear
}
.card-effects .card-effect:hover .img-hover:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all 900ms linear
}
.card-effects .card-effect:hover .img-hover img {
    transform: scale(1.2)
}
.card-effects .card-btn {
    display: inline-block;
    padding: 14px 25px 14px 55px;
    position: relative;
    background-color: #ffc107;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    background-image: #ffc10f;
}
 
.card-effects .card-btn .icon-arrow {
  color: #ffffff;
  top: 16px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),opacity 0.4s cubic-bezier(0.86, 0, 0.07,1);
  font-size: 18px;
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000
}
.card-effects .card-btn .icon-arrow.before {
  left: 20%;
  position: absolute;
  transform-origin: left center
}
.card-effects .card-btn .icon-arrow.after {
  opacity: 0;
  position: absolute;
  right: 48px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center
}
.card-effects .card-btn.secondary {
  background-color: #ffffff
}
.card-effects .card-btn.secondary:hover, .card-effects .card-btn.secondary:active, .card-effects .card-btn.secondary:focus {
  background-color: #2fbfa7
}
.card-effects .card-btn.white .icon-arrow {
  color: #2fbfa7
}
.card-effects .card-btn.white:hover .icon-arrow, .card-effects .card-btn.white:active .icon-arrow, .card-effects .card-btn.white:focus .icon-arrow {
  color: #fff
}
.card-effects .card-btn.md .icon-arrow {
  top: 22px;
}
.card-effects .card-btn.sm {
  padding: 10px 25px 10px 50px !important;
  font-size: 14px !important
}
.card-effects .card-btn .label {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000
}
.card-effects .card-btn.white {
  background-color: #ffffff;
  color: #2fbfa7
}
.card-effects .card-btn .icon-arrow.white {
  color: #2fbfa7;
  top: 16px
}
.card-effects .card-btn:hover, .card-effects .card-btn:active, .card-effects .card-btn:focus {
  background-color: #ff7029;
  color: #ffffff
}
.card-effects .card-btn:hover .icon-arrow.before, .card-effects .card-btn:active .icon-arrow.before, .card-effects .card-btn:focus .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1)
}
.card-effects .card-btn:hover .icon-arrow.after, .card-effects .card-btn:active .icon-arrow.after, .card-effects .card-btn:focus .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1)
}
.card-effects .card-btn:hover .label, .card-effects .card-btn:active .label, .card-effects .card-btn:focus .label {
  transform: translateX(-32px)
}
.card-effects .text-tb-lines {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #000;
}
.card-effects .text-tb-lines::before, .text-tb-lines::after {
  content: '';
  border-top: 6px double;
  color: #ffe5f4;
}

 .hover-underline-animation {
  
    
  position: relative;
  
  
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
   left: 0%;
  right:0;
  background-color: #ffc10f;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.testimonial-slider .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color:#000;
  border-radius: 100%;
}
.testimonial-slider {
  padding: 10px 0px 40px;
  border-radius: 60%;
}

.carousel-indicators {
  bottom: -60px;
}

.faq-container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

 
 .carousel-inner{
  border-radius: 20px;
 }

  @media (max-width:786px){
    .carousel-inner{
      border-radius: 0%;
    }
  }
 

 

 

.web-logo{
   align-items: start;
}

 

.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}

 
 